<div class="remove-link-decoration">
  <%= link_to vehicle_path(vehicle.id) do %>
    <div class="card mb-3" >
      <img src="https://source.unsplash.com/1600x900/?<%= vehicle.make %>%20<%= vehicle.model %>car" class="card-img-top" alt="...">
      <div class="card-body ">
        <div class="card-footer">
          <h3 ><%= vehicle.make %> <%= vehicle.model %></h3>
          <p><%= vehicle.location %></p>
        </div>
        <p>€<%= vehicle.price %> <span class="per-day">PER DAY</span></p>
      </div>
    </div>
  <% end %>
</div>
