<div class="remove-link-decoration">
  <%= link_to vehicle_path(vehicle.id, from: params[:from], to: params[:to]) do %>
    <div class="card" >
      <% if vehicle.photos.first.nil? %>
        <img src="https://source.unsplash.com/1600x900/?<%= vehicle.v_make %>%20<%= vehicle.v_model %>car" class="card-img-top" alt="...">
      <% else %>
        <img src="<%= cl_image_path vehicle.photos.first.key, crop: :fill %>", class="card-img-top">
      <% end %>
      <div style="padding:16px;" class="card-body ">
        <div style="padding: 0;" class="card-footer">
          <h3 ><%= vehicle.v_make %> <%= vehicle.v_model %></h3>
          <p><%= vehicle.city %>, <%= vehicle.country %></p>
        </div>
        <p class="price-index"><%= vehicle.price %>€<span class="per-day"> / DAY</span></p>
      </div>
    </div>
  <% end %>
</div>
