<%= form_with url: vehicles_path, method: :get, html: { autocomplete: "off" }, class: "main-form-black" do %>
  <div class="first-line">
    <%= label_tag 'location', 'Rent a classic car in' %>
    <%= text_field_tag :location, params[:location], placeholder: "wherever you want", class: "location-input" %>
  </div>
  <div class="second-line">
    <%= label_tag 'from', 'from' %>
    <%= date_field_tag :from, params[:from], class: "date-input" %>
    <%= label_tag 'to', 'to' %>
    <%= date_field_tag :to, params[:to], class: "date-input" %>
    <%= submit_tag "Search", class: "sub-btn" %>
  </div>
<% end %>