<div class="nav-bar-white remove-link-decoration" data-controller="navbar">
  <%= link_to "ClassiCars", root_path, class: "#{color}" %>
  <% if current_user.nil? %>
    <ul class="nav-items" data-navbar-target="navItems">
      <li><%= link_to "Sign in / Sign up", user_session_path, class: "#{color}" %></li>
      <li><%= link_to "Rent your classic", user_session_path, class: "#{color}" %></li>
    </ul>
    <div class="burger" data-action="click->navbar#open">
      <i class="fa-solid fa-bars <%= color %>"></i>
    </div>
    <% else %>
    <div class="user-menu">
      <% if current_user.username.nil? %>
        <%=link_to current_user.email, user_path(current_user), class: "#{color}" %>
      <% else %>
        <%=link_to current_user.username, user_path(current_user), class: "#{color}" %>
      <% end %>
      <div class="nav-item dropdown">
        <% if current_user.photo.key.nil? %>
          <%= image_tag "https://images.unsplash.com/photo-1518020382113-a7e8fc38eac9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZnVubnklMjBmYWNlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1000&q=60", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% else %>
          <%= cl_image_tag current_user.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%= link_to "My Profile", user_path(current_user), style: "margin-left:0", class: "dropdown-item" %>
          <%= link_to "Rent your classic", new_vehicle_path(current_user), style: "margin-left:0", class: "dropdown-item"%>
          <%= link_to "Browse classics", vehicles_path, style: "margin-left:0", class: "dropdown-item"%>
          <%= link_to "Log out", destroy_user_session_path, style: "margin-left:0", class: "dropdown-item",  data: {turbo_method: :delete} %>
        </div>
      </div>
    </div>
    <% end %>
  </ul>
</div>
