<%= render '/components/navbar' %>

<div class="container">

  <div class="card-product-container">
  <h1>Upcoming bookings</h1>

    <% @user.bookings.each do |booking| %>

      <% if !(booking.end_date.nil?) && booking.end_date > DateTime.now %>

        <% vehicle = @vehicles.find(booking.vehicle_id) %>
        <% date = (booking.end_date - booking.start_date).to_i %>
        <% price = date * vehicle.price %>

        <div class="remove-link-decoration">

          <%= link_to vehicle_path(vehicle.id) do %>

            <div class="card-product">
              <img src="https://source.unsplash.com/1600x900/?<%= vehicle.make %>%20<%= vehicle.model %>car" class="card-img-top" alt="..." />
              <div class="card-product-infos">
                <div>
                  <h2 style="color:#333;padding-bottom:5px"><%= vehicle.make %> <%= vehicle.model %></h2>
                  <p style="color:#333;padding-top:5px;opacity:0.7;" class="douze"><strong>From</strong> <%= booking.start_date.strftime("%d/%m/%Y") %> <strong>to</strong> <%= booking.end_date.strftime("%d/%m/%Y") %></p>
                </div>
                <p class="price-upcoming"><%= price %> €</p>
              </div>
            </div>

          <% end %>
        </div>
      <% end %>

    <% end %>

    <h1>Previous bookings</h1>

    <% @user.bookings.each do |booking| %>

      <% if !(booking.end_date.nil?) && booking.end_date < DateTime.now %>

        <% vehicle = @vehicles.find(booking.vehicle_id) %>
        <% date = (booking.end_date - booking.start_date).to_i %>
        <% price = date * vehicle.price %>

        <% if booking.start_date < DateTime.now %>

          <div class="remove-link-decoration">
            <%= link_to vehicle_path(vehicle.id) do %>

              <div class="card-product">
                <img src="https://source.unsplash.com/1600x900/?<%= vehicle.make %>%20<%= vehicle.model %>car" class="card-img-top" alt="..." />
                <div class="card-product-infos">
                  <div class="booking-infos">
                    <h2><%= vehicle.make %> <%= vehicle.model %></h2>
                    <p class="mid-m douze"><strong>From</strong> <%= booking.start_date.strftime("%d/%m/%Y") %> <strong>to</strong> <%= booking.end_date.strftime("%d/%m/%Y") %></p>
                    <p class="douze"><%= price %> €</p>
                  </div>
                  <%= link_to "Leave a review", new_vehicle_review_path(vehicle.id), class: "cta-lar" %>
                </div>
              </div>

            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <h1 class="mc-ttl">My cars</h1>
  <%= link_to "Add Car", new_user_vehicle_path(current_user) %>
</div>
