<div class="home-page-container">
  <%= render '/components/navbar' %>
  <%= render '/components/banner' %>
  <%= render '/components/logo' %>
</div>
<div class="container">
  <div class="card-container mt-3">
    <% @vehicles.each do |vehicle| %>
      <%= render '/components/card', vehicle: vehicle %>
    <% end %>
  </div>
</div>

<%= link_to "home", user_path(@current_user) %>
