<div class="home-page-container">
  <%= render '/components/navbar' %>
  <%= render '/components/banner' %>
  <%= render '/components/logo' %>
</div>
<div class="container">
  <div class="card-container mt-3">
    <%= render '/components/card' %>
    <%= render '/components/card' %>
    <%= render '/components/card' %>
  </div>
</div>
