<%= render '/components/navbar' %>
<div class="show-container ">
  <div class="pictures">
    <div class="main-picture ">
      <% if @vehicle.photos.first.nil? %>
        <img src="https://source.unsplash.com/1600x900/?<%= @vehicle.make %>%20<%= @vehicle.model %>car" alt="" class="border-round">
      <% else %>
        <img src="<%= cl_image_path @vehicle.photos.first.key, crop: :fill %>">
      <% end %>
    </div>

    <div class="secondary-pictures ">
      <div class="secondary-pic mb-3">
        <% if @vehicle.photos.first.nil? %>
            <img src="https://source.unsplash.com/1600x900/?<%= @vehicle.make %>%20<%= @vehicle.model %>car" alt="" class="border-round">
        <% else %>
          <img src="<%= cl_image_path @vehicle.photos.second.key, crop: :fill %>">
        <% end %>
      </div>

      <div class="secondary-pic">
        <% if @vehicle.photos.first.nil? %>
          <img src="https://source.unsplash.com/1600x900/?<%= @vehicle.make %>%20<%= @vehicle.model %>car" alt="" class="border-round">
        <% else %>
          <img src="<%= cl_image_path @vehicle.photos.third.key, crop: :fill %>">
        <% end %>
      </div>
    </div>
  </div>

  <div class="info-container ">
    <div class="description">
      <div>
        <div class="profile">
            <% if @vehicle.user.photo.key.nil? %>
          <div class="pp" style="background-image: url('https://images.unsplash.com/photo-1518020382113-a7e8fc38eac9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZnVubnklMjBmYWNlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1000&q=60')"></div>
            <% else %>
            <div class="pp" style="background-image: url(<%= cl_image_path @vehicle.user.photo.key %>)"></div>          </div>
            <% end %>
          <div>
            <h1><%= @vehicle.make %> <%= @vehicle.model %></h1>
            <p><%= @vehicle.year %>, <%= @vehicle.passengers %> seats</p>
          </div>
        </div>
        <div class="test">
          <div class="location">
            <p><%= @vehicle.city %>, <%= @vehicle.country %></p>
          </div>
          <div class="vehicle-description">
            <%= @vehicle.description %>
          </div>
        </div>
      </div>
      <div class="book-form">
        <%= simple_form_for [@vehicle, @booking] do |f| %>
          <div class="from-date">
            <%= label_tag 'from', 'FROM' %>
            <%= f.date_field :start_date, html5: true, as: :date, value: params[:from] %>
          </div>
          <div class="to-date">
            <%= label_tag 'to', 'TO' %>
            <%= f.date_field :end_date, html5: true, value: params[:to] %>
          </div>
          <div class="book-btn">
            <%= f.submit "Book" %>
          </div>
          <div class="total">
            <span>TOTAL</span>
            <span class="total-price">
            <% if (params[:from].nil? || params[:from].empty?  || params[:to].nil? || params[:to].empty?) %>
              Choose dates</span>
            <% else %>
              <%
                from = Date.parse(params[:from])
                to = Date.parse(params[:to])
                days = (to - from).to_i
                price = days * @vehicle.price
              %>
              <%= price %> €</span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="review-container">
  <% @vehicle.reviews.each do |vehicle|  %>
  <div class="review">
    <div class="review-profile">
      <div class="review-avatar"></div>
        <% if @vehicle.reviews.first.user.username.nil? %>
          <p class="review-name">Greggo</p>
        <% else %>
          <%= @vehicle.reviews.first.user.username %>
        <% end %>
    </div>
    <div class="review-content">
      <div><%= vehicle.rating %> / 5</div>
      <div class="review-comment"><%= vehicle.comment %></div>
    </div>
  </div>
  <% end %>
</div>
