<%= render '/components/navbar' %>
  <div class="show-container ">

    <div class="pictures mt-5">
      <div class="main-picture ">
        <% if @vehicle.photos.first.nil? %>
          <img src="https://source.unsplash.com/1600x900/?<%= @vehicle.make %>%20<%= @vehicle.model %>car" alt="" class="border-round">
        <% else %>
          <img src="<%= cl_image_path @vehicle.photos.first.key, crop: :fill %>">
        <% end %>
      </div>

      <div class="secondary-pictures ">
        <div class="secondary-pic mb-3">
           <% if @vehicle.photos.first.nil? %>
              <img src="https://source.unsplash.com/1600x900/?<%= @vehicle.make %>%20<%= @vehicle.model %>car" alt="" class="border-round">
           <% else %>
             <img src="<%= cl_image_path @vehicle.photos.second.key, crop: :fill %>">
        <% end %>

        </div>
        <div class="secondary-pic">
         <% if @vehicle.photos.first.nil? %>
            <img src="https://source.unsplash.com/1600x900/?<%= @vehicle.make %>%20<%= @vehicle.model %>car" alt="" class="border-round">
          <% else %>
            <img src="<%= cl_image_path @vehicle.photos.third.key, crop: :fill %>">
          <% end %>
        </div>
      </div>
    </div>

    <div class="info-container ">
      <div class="description">
        <div class="profile">
          <div class="pp"></div>
          <div>
            <h1><%= @vehicle.make %> <%= @vehicle.model %></h1>
            <p><%= @vehicle.year %>, <%= @vehicle.passengers %> seats</p>
          </div>
        </div>
        <div class="test">
          <div class="location">Rome, Italy</div>
          <div class="vehicle-description">
            <%= @vehicle.description %>
          </div>
        </div>
      </div>
      <div class="book-form">
        <%= simple_form_for [@vehicle, @booking] do |f| %>
          <div class="from-date">
            <%= label_tag 'from', 'FROM' %>
            <%= f.date_field :start_date, html5: true, as: :date, value: params[:from] %>
          </div>
          <div class="to-date">
            <%= label_tag 'to', 'TO' %>
            <%= f.date_field :end_date, html5: true, value: params[:to] %>
          </div>
          <div class="book-btn">
            <%= f.submit "Book", class: 'book-btn' %>
          </div>
          <div class="total">
            <span>TOTAL</span>
            <span class="total-price">
            <%
              from = Date.parse(params[:from])
              to = Date.parse(params[:to])
              days = (to - from).to_i
              price = days * @vehicle.price
            %>
            <%= price %> €</span>
          </div>
        <% end %>
      </div>
  </div>
</div>
</div>

<%=render '/components/footer'%>
