<%= render '/components/navbar'%>

<div class="main-review-container">
  <h2 class="mb-5">Leave a Review</h2>
  <div class="new-review-container">
    <%= simple_form_for [@booking, @review] do |f| %>
      <div class="new-review-input">
        <%= f.input :comment, as: :text %>
        <%= f.input :rating, as: :integer %>
        <%= f.submit "Submit Review", class:"submit-btn" %>
      </div>
    <% end %>
  </div>
</div>
